/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
# rspec failure tracking
.rspec_status
/spec/dummy/.bundle
/spec/dummy/vendor/bundle/
/spec/dummy/vendor/ruby/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/log/*
/spec/dummy/tmp/*
/spec/dummy/**.war
/spec/dummy/*.rbc
/spec/dummy/*.sassc
/spec/dummy/.redcar/
/spec/dummy/.sass-cache
/spec/dummy/config/config.yml
/spec/dummy/coverage.data
/spec/dummy/coverage/
/spec/dummy/db/*.javadb/
/spec/dummy/db/*.sqlite3
/spec/dummy/doc/api/
/spec/dummy/doc/app/
/spec/dummy/doc/features.html
/spec/dummy/doc/specs.html
/spec/dummy/public/cache
/spec/dummy/public/stylesheets/compiled
/spec/dummy/public/system/*
/spec/dummy/spec/tmp/*
/spec/dummy/cache
/spec/dummy/capybara*
/spec/dummy/capybara-*.html
/spec/dummy/gems
/spec/dummy/specifications
/spec/dummy/rerun.txt
/spec/dummy/pickle-email-*.html
/spec/dummy/.zeus.sock
/spec/dummy/**.orig
/spec/dummy/nbproject/
/spec/dummy/.idea
/spec/dummy/*.tmproj
/spec/dummy/**.swp
/spec/dummy/.env
/spec/dummy/.powenv
/spec/dummy/*~
simple_bind-*.gem