<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Bind</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

  </head>

  <body class="index" id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" href="#page-top">Simple Bind</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#usage">Usage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Simple Bind</span>
          <hr class="star-light">
          <span class="skills">HTML Input Field Data Binding</span>
        </div>
      </div>
    </header>

    <!-- usage Grid Section -->
    <section id="usage">
      <div class="container">
        <h2 class="text-center">Usage</h2>
        <hr class="star-primary">
        <div class="row">
          <div class='col ml-auto'>
            <p>
              Add this line to your application's Gemfile:<br/>
              <code>gem 'simple_bind'</code>
            </p>
            <br/>
            <p>
              Require <code>simple_bind</code> to your <code>application.js</code> file<br/>
              <code>//= require simple_bind</code>
            </p>
            <br/>
            <p>
              <p>
                Within the views, there are two parts for the data bind. You have to 
                select an input to be the binder and some element to be the listener. 
                For the binder, we create a data attribute called data-bind and set it 
                to some ID. This should be a unique value so it does not conflict with 
                other data binds on the current view.<br/>
                <code>
                  <%= form_with model: @object do |f| %><br/>
                  &nbsp;&nbsp;  <%= f.text_field :name, data: { bind: @object.object_id } %><br/>
                  <% end %>
                </code>
              </p>
              <br/>
              <p>
                For the listener, we create an attribute called bind and have it set to the same ID as the Binder.<br/>
                <code>
                  <%= content_tag :span, @object.name, bind: @object.object_id %>
                </code>
              </p>
              <p>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- supported_inputs Grid Section -->
    <section id="supported_inputs">
      <div class="container">
        <h2 class="text-center">Supported Inputs</h2>
        <hr class="star-primary">
        <div class="row">
          <div class='col ml-auto'>
              <h3>Text Input</h3>
              <p><img src='https://raw.githubusercontent.com/simple-bind/simple_bind/master/images/input_text_field_result.gif'></p>
              <h3>Select Input</h3>
              <p><img src='https://raw.githubusercontent.com/simple-bind/simple_bind/master/images/input_select_field_result.gif'></p>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>Simple Bind's goal is to give a realtime feel to your Ruby on Rails application without the added weight of a Javascript framework while being as unobtrusive as possible.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>When content changes in a HTML Input field, update labels and/or display elements on your browser automatically. Note: this is not Two Way Data Binding and any changes would only be reflected on the browser in which the changes were made.</p>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <a href="#" class="btn btn-lg btn-outline">
              <i class="fa fa-download"></i>
              Download Gem
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">

            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="https://github.com/simple-bind/simple_bind">
                    <i class="fa fa-fw fa-lg fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Dave Kimura 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/freelancer.min.js"></script>

  </body>

</html>
