<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% id = Time.now.to_i %>
<%= text_field_tag :name, 'Test', data: { bind: id } %>
<%= content_tag :span, 'Test', bind: id, id: 'spantag' %>
