<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= form_with scope: :post do |f| %>
  <%= f.text_field :name, value: 'Test', data: { bind: f.object_id } %>
  <%= content_tag :span, 'Test', bind: f.object_id, id: 'spantag' %>
<% end %>
